# ===================================================================
# Fichiers Généraux et Temporaires
# ===================================================================

# Fichiers temporaires des éditeurs
*.swp
*.swo
*~

# Fichiers de log
*.log

# Fichiers compilés
*.pyc

# systeme de fichiers cachés
.*

# Dépendances (exemple si vous aviez un projet Node.js)
/node_modules/
current